{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load i18n %}
{% load cache %}
    {% cache 30 header %}

    {% block title %}
    Posts
    {% endblock title %}

    {% block content %}
        <h1>{% trans "Category" %}</h1>
        <hr>
        <h3>{{ category.name }}</h3>
        <p>{% trans "Some category description." %}</p>
        {% if subscribed %}
            <button> <a href="unsubscribe/">{% trans "Unsubscribe" %}</a> </button>
        {% else %}
            <button> <a href="subscribe/">{% trans "Subscribe" %}</a> </button>
        {% endif %}
    {% endblock content %}
{% endcache %}