{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>{% trans "All posts" %}</h1>
    <hr>
    {% if posts %}
        <h2>{% trans "Number of posts" %}: {{ posts|length }}</h2>
        <table>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Date" %}</td>
                <td>{% trans "Text" %}</td>
            </tr>
            {% for post in posts %}
            <tr>
                <td><a href="{{ post.id }}">{{ post.title }}</a></td>
                <td>{{ post.time|date:'d M Y' }}</td>
                <td>{{ post.text|truncatechars:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>{% trans "No posts" %}</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}