{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}

{% load cache %}
    {% cache 30 header %}
    {% block title %}
    Posts
    {% endblock title %}

    {% block content %}
        <h1>{% trans "Post" %}</h1>
        <hr>
            <table>
                <tr>
                    <td>{% trans "Title" %}</td>
                    <td>{% trans "Date" %}</td>
                    <td>{% trans "Text" %}</td>
                    <td>{% trans "Category" %}</td>
                </tr>
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.time|date:'d M Y' }}</td>
                    <td>{{ post.text|censor}}</td>
                    {% for category in post.category.all %}
                        <td><a href="/posts/category/{{ category.id }}/">{{ category.name }}</a></td>
                    {% endfor %}
                </tr>
            </table>
        <a href="edit/">{% trans "Edit post" %}</a>
        <a href="delete/">{% trans "Delete post" %}</a>
    {% endblock content %}
{% endcache %}